services:
  nacos:
    image: nacos/nacos-server:v2.3.1-slim
    container_name: nacos
    environment:
      - MODE=standalone
      - NACOS_AUTH_ENABLE=false
      - NACOS_AUTH_IDENTITY_KEY=nacos
      - NACOS_AUTH_IDENTITY_VALUE=nacos
    ports:
      - "8848:8848" # http://localhost:8848/nacos
      - "9848:9848"
    networks:
      - micro-net

  service_b:
    build:
      context: . # 关键：上下文在根目录
      dockerfile: service_b/Dockerfile # 指定 B 的 Dockerfile
    # container_name 删掉，方便以后执行 make scale
    depends_on:
      - nacos
    networks:
      - micro-net

  service_a:
    build:
      context: . # 关键：上下文在根目录
      dockerfile: service_a/Dockerfile # 指定 A 的 Dockerfile
    depends_on:
      - service_b
    networks:
      - micro-net

networks:
  micro-net:
    driver: bridge
